.footer {
  color: $brand-color;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  min-height: 56px;
  line-height: 45px;
  width: $container-width;
  position: fixed;
  bottom: 0;
  border-radius: 10px;
}
.footer a {
  color: $brand-color;
  padding: 0px 10px 0px;
  text-decoration: none;
}
@media (max-width: $container-width) {
  .footer {
    color: $brand-color;
    text-align: center;
    min-height: 56px;
    line-height: 45px;
    width: 95vw;
  }
}
.footer-description {
  display: block;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size:0.8rem;
}
